{% extends 'base.html.twig' %}
{% block body %}

	<div class="jumbotron">
		<h1 class="display-3">Hello, world!</h1>
		<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		<hr class="my-4">
		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</p>
	</div>

	<div class="container">
		<h2 class="text-center m-3">In excepteur ad ut eu.</h2>
		<p class="text-center">Adipisicing incididunt laborum enim mollit dolore laboris minim pariatur mollit elit veniam quis eu irure.</p>
		<hr>
		<p class="text-center">Minim eiusmod excepteur aute ex cupidatat enim amet velit ea sint pariatur esse dolor velit labore est mollit sunt nisi aliquip ea aliquip proident ad excepteur sunt elit qui aliquip magna pariatur consectetur.</p>
		<div class="row m-5">
			<div class="card text-white mx-auto" style="width: 25%;">
				<img class="card-img" src="https://via.placeholder.com/150" alt="Card image">
				<div class="card-img-overlay d-flex align-items-center justify-content-center">
					<h5 class="card-title">Ventes</h5>
				</div>
			</div>
			<div class="card text-white mx-auto" style="width: 25%;">
				<img class="card-img" src="https://via.placeholder.com/150" alt="Card image">
				<div class="card-img-overlay d-flex align-items-center justify-content-center">
					<h5 class="card-title">Investissements locatifs</h5>
				</div>
			</div>
			<div class="card text-white mx-auto" style="width: 25%;">
				<img class="card-img" src="https://via.placeholder.com/150" alt="Card image">
				<div class="card-img-overlay d-flex align-items-center justify-content-center">
					<h5 class="card-title">Viagers</h5>
				</div>
			</div>
		</div>
		<div class="row m-5">
			<div class="card text-white mx-auto" style="width: 25%;">
				<img class="card-img" src="https://via.placeholder.com/150" alt="Card image">
				<div class="card-img-overlay d-flex align-items-center justify-content-center">
					<h5 class="card-title">Construire</h5>
				</div>
			</div>
			<div class="card text-white mx-auto" style="width: 25%;">
				<img class="card-img" src="https://via.placeholder.com/150" alt="Card image">
				<div class="card-img-overlay d-flex align-items-center justify-content-center">
					<h5 class="card-title">Ventes de prestige</h5>
				</div>
			</div>
			<div class="card text-white mx-auto" style="width: 25%;">
				<img class="card-img" src="https://via.placeholder.com/150" alt="Card image">
				<div class="card-img-overlay d-flex align-items-center justify-content-center">
					<h5 class="card-title">Bureaux et commerces</h5>
				</div>
			</div>
		</div>
	</div>

{% endblock %}