{% extends 'base.html.twig' %}
{% block body %}

	<section class="Material-contact-section section-padding section-dark m-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
					<h1 class="section-title">Love to Hear From You</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<div class="find-widget">
						Company :  <a href="https://hostriver.ro">ImmoDeal</a>
					</div>
					<div class="find-widget">
						Address : <a href="#">178 Rond-Point de la Défense, 92800 Puteaux</a>
					</div>
					<div class="find-widget">
						Phone : <a href="#">+ 879-890-9767</a>
					</div>

					<div class="find-widget">
						Website : <a href="https://uny.ro">www.immodeal.fr</a>
					</div>
					<div class="find-widget">
						Program : <a href="#">Lundi - Vendredi : 09H30 - 19H30</a>
					</div>
				</div>
				<div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
					<form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
						<div class="form-group label-floating">
							<label class="control-label" for="name">Nom</label>
							<input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group label-floating">
							<label class="control-label" for="email">Email</label>
							<input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group label-floating">
							<label class="control-label">Sujet</label>
							<input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group label-floating">
							<label for="message" class="control-label">Message</label>
							<textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-submit mt-5">
							<button type="button" class="btn btn-primary">Envoyer</button>
							<div id="msgSubmit" class="h3 text-center hidden"></div>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

{% endblock %}